/* Misc */
@import './misc/variables';
@import './misc/normalize';


@import './partials/header';
@import './partials/hambuerger';
@import './partials/footer';

@import './views/home';
@import './views/Servicio';

@import './misc/mixins';



