/*Medias*/
@media screen and (max-width: 1422px){
    /*servicio*/
    #servicio{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 25px;
        }
    /*fin servicio*/
}

@media screen and (max-width: 1050px){
    /*nav*/
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    /*nav*/
    /*box*/
    .box__gallery{
        display: grid;
        grid-template-columns: repeat(12 , 1fr );
        grid-template-rows: repeat(3 , 1fr );
        gap: 1rem;
    }
    /*fin box*/
    /*contacto*/
    #contact{
        background: url(./Img/contact.jpg);
        background-size: cover;
        opacity: 85%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px 10px;
        gap: 1rem;  
        margin: 0;
        padding: 0; 
        max-width: 100%;
    }
    .img__contact{
        max-width: 0%;
    }
    /*fin contacto*/
    /*footer*/
    .container__footer{
        margin: 0;
        width: 100%;
        flex-direction: row;
        object-fit: cover;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .box__footer h2{
        font-size: 15px;
        margin-bottom: 5px;
        align-items: center
    }
    .box__footer a{
        font-size: 12px;
    }
    /*fin footer*/
}

@media screen and (max-width: 867px){
    /*index*/
    .Sub{
        font-size: 25px;
    }
    .title__logo{
        max-width: 85%;
    }
    /*fin index*/
    .box__footer{
    align-items: center
   }
   .title__index{
    height: 320px
    }
}

@media screen and (max-width: 480px){
    .hamburger{
        display: block;
    }
    #hamburger{
        display: block;
        opacity: 0%;
    }

    #hamburger:checked ~ .menu{
        display: flex;

    }
    .menu{
        display: none;
    }

    .title__index{
        height: 400px
    }
    /*footer*/
    .container__footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box__footer{
        align-items: center;
        text-align: center;
    }
    .twitter{
        padding-right: 10px;
    }

    .insta{
        padding-left: 5px;
    }
    /*footer*/
}